body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#title,
.subtitle,
.post_title {
    color: #505050;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post {
    background: white;
    padding: 15px;
    border: 2px solid #505050;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_img {
    margin: 0;
    margin-bottom: 15px;
}

.contact_list {
    list-style-type: none;
    padding: 0;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
    color: blue
}